<%- include('particles/header.ejs') %>

<%- include('particles/navigation.ejs') %>
<h1>Аккаунт</h1>
<span>Чтобы удалить ваш аккаунт, обратитесь по почте 15cmsIG33BS@usermail.lom</span>


<%- include('particles/footer.ejs') %>