<%- include('particles/header.ejs') %>

<h1>  Пользовательское соглашение </h1>
<div class="section">
   <h1>Используя услуги сервиса-каталога "Kameshki", принадлежащего Обществу Ограниченной Ответственности "15 cm sIG 33 B Selbsfahrlafette", далее именуемая компанией, 
   Вы обязуетесь принять действующее пользовательское соглашение :</h2>
   <div class="section">
   <h2>Использование сервиса-каталога.</h2>

    <p>Для оказания компанией услуг на сервисе-каталоге Вы должны зарегистрироваться и принять пользовательское соглашение, которое подтверждает согласие на сохранение и передачи третьим лицам всех 
    данных, которые Вы передаёте компании.</p>
    <p>Прочтение , просмотр, открытие, пользовательского соглашения и(или) прохождение регистрации подтверждает Ваше согласие с ним.</p>
    <ul>
<p>1.2На сервисе-каталоге "Kameshki" запрещается публикация :</p>
     <li>1.Личных данных пользователей.</li>
     <li>2.Запрещённых(пункт 5) компанией фотографий и текста и др. , далее именуемые контентом.</li>
     <li>3.Любой информации о компании.</li>
     <li>4.Разглашение коммерческой тайны компании.</li>
    </ul>
    </div>
    <div class="section">
     <h1>2.Права пользователя.</h1>
        <ul>
     <li>1.Пользователь имеет право публиковать контент, который не является запрещённым(пункт 1.2).</li>
     <li>2.Компания является единственным правообладателем всего контента, публикуемого пользователем и может без уведомления и согласия пользователя удалять и использовать, в любых целях, его контент
     и аккаунт.</li>
     <li>3.Пользователь не имеет прав на критику сервиса и компании.</li>
     <li>4.Пользователь в праве стать рабом компании. </li>
     <li>5.Пользователь не может расторгнуть пользовательское соглашение.</li> 
     <li>6.Пользователь соглашается об открытии карты в банке "Кидок-банк" и об оплате услуг сервиса-каталога "Kameshki" в размере 5000(пяти тысяч) рублей ежемесячно по реквизитам 100012324245134623
    банк "Кидок-банк" лицензия цб Федеративной Республики Алоджлостана(ФРА) номер 133712547123. </li>
     <li>7.Пользователь, при отсутствии средств на карте и(или) неуплате денежных средств компании в течении одного дня после окончания месяца с момента предыдущей оплаты, соглашается выполнить 
     пункт 4 части 2 пользовательского соглашения.</li>
    </ul>
     </div>
     <div class="section">
     <h1>3.ООО "15 cm sIG 33 B Selbsfahrlafette" или компания.</h1>
      <p>1. Компания не обязывается выполнять любые договорённости с пользователем.</p>
      <p>2.Любые притензии к компании будут откланяться или проходить через  суд ФРА.</p> 
      
      <h1>3.2 Представители компании - 
     Аксютин Никита - код, дизайн и всё остальное.</h1>

      <p>Любые совпадения случайны. Пользователь, прочитавший пользовательское соглашение принимает пользовательское соглашение 2 и получает подарок в виде картинки.</p>>
      <img class="img" src="/img/cat.jpg">

    </div>     
</div>

<a href="/reg">Вернуться</a>
<%- include('particles/footer.ejs') %>
