*{
  box-sizing: content-box;
}

form {
  margin-top: 15px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group__label {
  display: block;
  margin-bottom: 3px;
}

.form-group__input {
  padding: 7px;
}

.form-button {
  color: white;
  padding: 7px;
  background-color: blue;
}

.form-button:hover {
  cursor: pointer;
}

.img{
  height:400px;
  width:450px;    
  box-shadow: 0 8px 26px rgba(0,0,0,0.4), 0 28px 30px rgba(0,0,0,0.3);
  
}

input:invalid:required {
  border: 2px solid red;
}

input:valid {
  border: 2px solid green;
}



.h1{
font-size: large;

}
/*--------------------------*/
.footer{
    background-color: rgb(83, 79, 79);
    display: block;
    box-shadow: 0 0 5px;
    color: white;
    margin:3px;
    padding:3px;
}


.logo{
font-family: 'Playfair Display';
text-align: center;
font-size: 90px;
margin-left: 100px;
color:orangered;
}


.navigation li{
  display: inline-block;
  margin-right: 30px;
  font-size:normal;
}
li:hover{
  box-shadow: 0 0 2px 1px black;
}


.navigation{
  background-color: white;
  display: block;
  position: sticky;
  top: 0px;
  box-shadow: 0 0 5px;
 
}
.container{
  background-color: rgb(221, 213, 213);
}
/*-------*/
ul {
  list-style: none;
}
a {
  text-decoration: none;
  outline: none;
}
img {
  display: block;
}

body {
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 14px;
  line-height: 1;
  color: #373737;
  background: #f7f7f7;
}






/* Кол-во блоков на разных экранах */
@media only screen and (min-width: 1200px) {
  .section {
      grid-template-columns: 1fr 1fr 1fr;
  }
  .section__image {
    border-radius: 6px;
    height:500px;
    width:500px;
  }
  
}

@media only screen and (max-width: 900px) {
  .section {
      grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 600px) {
  .section {
      grid-template-columns: 1fr;
  }
  .logo{
    font-family: 'Playfair Display';
    text-align: center;
    font-size: 90px;
    margin-left: 50px;
    color:orangered;
    }
}
@media only screen and (max-width: 480px) {
  .section {
      grid-template-columns: 1fr;
  }
  .logo{
    font-family: 'Playfair Display';
    text-align: center;
    font-size: 60px;
    margin-left: 20px;
    color:orangered;
    }
    .section{
      font-size:large;
    }
}


.section {
  padding: 20px;
  border-radius: 8px;
  display: inline-block;
  border: 2px solid rgb(228, 228, 228);
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: box-shadow .3s;
}

.section__image {
  border-radius: 8px;
  height:300px;
  width:300px;
  overflow: hidden;
}

.section__title {
  margin-top: 0;
  text-align: center;
}
